WCFDemoMvcApplication/MvcApplication1/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetAllItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="host" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllItemsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="host" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetItemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="host" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>